/*  */
body {
    /*background-color: black;*/
    background-image: url("../assets/bg_inverted.png")

}


/*  */
#pasar_sobre_imagen:hover  {
    width: 290px;
    padding: 5px;
    background-color: magenta;
}

/* Jquery Validation configuración css */
label.error { 
    float: none; 
    color: magenta; 
    padding-left: .5em; 
    vertical-align: middle; 
    font-size: 16px; 
}

